<div id="terminal-wrapper">
  <div class="code-editor">
    <div class="top-bar">
      <div class="control">
        <span class="button"></span>
        <span class="button"></span>
        <span class="button"></span>
      </div>
      <div class="file-path">~/Users/Yure/website</div>
    </div>
    <ul class="line-numbers">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li class="no-mobile">15</li>
      <li class="no-mobile">16</li>
    </ul>
    <div class="code">
      <p class="comment">/* Welcome to Yure's Website */</p>
      <p><span class="selector">#YURE</span> {</p>
      <p class="indent"><span class="prop">goal:</span> Build a beautiful website;</p>
      <p class="indent"><span class="prop">focus:</span> Clean code + personal style;</p>
      <p class="indent"><span class="prop">location:</span> GitHub Pages;</p>
      <p class="indent"><span class="prop">email:</span> url('batistayureiba@gmail.com');</p>
      <p>}</p>
    </div>
  </div>
</div>
