<div class="terminal-wrapper"><!-- inicio terminal wrapper -->
  <div class="intro"><!-- inicio intro -->
    <div class="terminal"><!-- inicio terminal -->
      <div class="terminal-bar"><!-- inicio terminal-bar -->
        <span class="dot red"></span>
        <span class="dot yellow"></span>
        <span class="dot green"></span>
        <span class="path">~/Users/NUWIT/website</span>
    </div><!-- fin terminal-bar -->

    <pre class="code-block"><!-- inicio pre -->
      <span class="comment">/* Welcome to NUWIT's website! */</span>
      <span class="selector">#NUWIT</span> {
      <span class="property">stands-for</span>: <span class="value">Northeastern University Women in Technology</span>;
      <span class="property">location</span>: <span class="value">Boston, MA</span>;
      <span class="property">description</span>: <span class="value">An undergraduate only special interest group that 
        supports women who study or are interested in Computer and Information Science at Northeastern University</span>;
      <span class="property">email</span>: <span class="function">url</span>(<span class="string">'nuwomenintech@gmail.com'</span>);
      }
    </pre><!-- fin pre -->
    </div><!-- fin terminal -->
  </div><!-- fin intro -->
</div><!-- fin terminal wrapper -->
