@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

#terminal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  background-color: #000;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  overflow: hidden;
}

#terminal-section * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  line-height: 1.5;
}

.code-editor {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 440px;
  color: #ccc;
  background-color: #030f1e;
  border-radius: 8px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
  padding: 20px 30px 20px 90px;
  overflow: hidden;
}

.code-editor .top-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #333;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #ccc;
  font-size: 14px;
}

.code-editor .top-bar .control {
  display: flex;
  gap: 5px;
}

.code-editor .top-bar .control .button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.code-editor .top-bar .control .button:nth-child(1) {
  background: #df6963;
}
.code-editor .top-bar .control .button:nth-child(2) {
  background: #f5e18a;
}
.code-editor .top-bar .control .button:nth-child(3) {
  background: #97c38a;
}

.code-editor .top-bar .file-path {
  margin-left: auto;
  margin-right: 10px;
}

.code-editor .line-numbers {
  position: absolute;
  top: 60px;
  left: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #777;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
}

.code-editor .line-numbers li {
  height: 24px;
}

.code-editor .code {
  margin-top: 60px;
}

.code-editor .code p {
  color: #ccc;
  margin: 0;
  padding: 0;
  height: 24px;
}

.code-editor .code p.indent {
  margin-left: 25px;
}

.code-editor .code p.comment {
  color: #555;
}

.code-editor .selector {
  color: #009897;
}

.code-editor .prop {
  color: goldenrod;
}

@media (max-width: 680px) {
  .no-mobile {
    display: none;
  }
  .code-editor {
    height: 400px;
  }
  .code-editor .top-bar .file-path {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .code-editor {
    height: 360px;
    padding: 20px 20px 20px 70px;
  }
}
